<form class="container" *ngIf="book">
  <div class="form-group row">
    <label for="authors" class="col-sm-4 col-form-label">Authors:</label>
    <div class="col-sm-8">
      <input id="authors" name="authors" type="text" [(ngModel)]="book.authors" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="title" class="col-sm-4 col-form-label">Title:</label>
    <div class="col-sm-8">
      <input id="title" name="title" type="text" [(ngModel)]="book.title" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-sm-4 col-sm-8">
      <button class="btn btn-primary" (click)="apply()">Apply</button>
    </div>
  </div>
</form>
